--
-- PostgreSQL database dump
--

\restrict rXxWx3qcbj5gue3CUPz0OEF1cBEwLAisq14YeMtHX4ol394fkYRtrjM3DmQrTec

-- Dumped from database version 14.23 (Debian 14.23-1.pgdg13+1)
-- Dumped by pg_dump version 14.23 (Debian 14.23-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.transcripts DROP CONSTRAINT IF EXISTS transcripts_job_id_fkey;
ALTER TABLE IF EXISTS ONLY public.qa_results DROP CONSTRAINT IF EXISTS qa_results_job_id_fkey;
ALTER TABLE IF EXISTS ONLY public.job_notes DROP CONSTRAINT IF EXISTS job_notes_job_id_fkey;
ALTER TABLE IF EXISTS ONLY public.items DROP CONSTRAINT IF EXISTS items_job_id_fkey;
ALTER TABLE IF EXISTS ONLY public.items DROP CONSTRAINT IF EXISTS items_folder_id_fkey;
ALTER TABLE IF EXISTS ONLY public.item_tags DROP CONSTRAINT IF EXISTS item_tags_tag_id_fkey;
ALTER TABLE IF EXISTS ONLY public.item_tags DROP CONSTRAINT IF EXISTS item_tags_item_id_fkey;
ALTER TABLE IF EXISTS ONLY public.folders DROP CONSTRAINT IF EXISTS folders_parent_id_fkey;
ALTER TABLE IF EXISTS ONLY public.corrected_transcripts DROP CONSTRAINT IF EXISTS corrected_transcripts_job_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audio_files DROP CONSTRAINT IF EXISTS audio_files_job_id_fkey;
ALTER TABLE IF EXISTS ONLY public.artifacts DROP CONSTRAINT IF EXISTS artifacts_transcript_id_fkey;
ALTER TABLE IF EXISTS ONLY public.artifacts DROP CONSTRAINT IF EXISTS artifacts_qa_result_id_fkey;
ALTER TABLE IF EXISTS ONLY public.artifacts DROP CONSTRAINT IF EXISTS artifacts_item_id_fkey;
ALTER TABLE IF EXISTS ONLY public.artifacts DROP CONSTRAINT IF EXISTS artifacts_corrected_transcript_id_fkey;
DROP INDEX IF EXISTS public.ix_transcripts_job_id;
DROP INDEX IF EXISTS public.ix_tags_name;
DROP INDEX IF EXISTS public.ix_qa_results_job_id;
DROP INDEX IF EXISTS public.ix_jobs_status;
DROP INDEX IF EXISTS public.ix_jobs_created_at;
DROP INDEX IF EXISTS public.ix_job_notes_job_id;
DROP INDEX IF EXISTS public.ix_items_updated_at;
DROP INDEX IF EXISTS public.ix_items_status;
DROP INDEX IF EXISTS public.ix_items_job_id;
DROP INDEX IF EXISTS public.ix_items_folder_id;
DROP INDEX IF EXISTS public.ix_items_created_at;
DROP INDEX IF EXISTS public.ix_item_tags_tag_id;
DROP INDEX IF EXISTS public.ix_item_tags_item_id;
DROP INDEX IF EXISTS public.ix_folders_path;
DROP INDEX IF EXISTS public.ix_folders_parent_id;
DROP INDEX IF EXISTS public.ix_corrected_transcripts_job_id;
DROP INDEX IF EXISTS public.ix_audio_files_job_id;
DROP INDEX IF EXISTS public.ix_artifacts_type;
DROP INDEX IF EXISTS public.ix_artifacts_item_id;
ALTER TABLE IF EXISTS ONLY public.transcripts DROP CONSTRAINT IF EXISTS transcripts_pkey;
ALTER TABLE IF EXISTS ONLY public.tags DROP CONSTRAINT IF EXISTS tags_pkey;
ALTER TABLE IF EXISTS ONLY public.tags DROP CONSTRAINT IF EXISTS tags_name_key;
ALTER TABLE IF EXISTS ONLY public.qa_results DROP CONSTRAINT IF EXISTS qa_results_pkey;
ALTER TABLE IF EXISTS ONLY public.jobs DROP CONSTRAINT IF EXISTS jobs_pkey;
ALTER TABLE IF EXISTS ONLY public.job_notes DROP CONSTRAINT IF EXISTS job_notes_pkey;
ALTER TABLE IF EXISTS ONLY public.job_notes DROP CONSTRAINT IF EXISTS job_notes_job_id_key;
ALTER TABLE IF EXISTS ONLY public.items DROP CONSTRAINT IF EXISTS items_pkey;
ALTER TABLE IF EXISTS ONLY public.items DROP CONSTRAINT IF EXISTS items_job_id_key;
ALTER TABLE IF EXISTS ONLY public.item_tags DROP CONSTRAINT IF EXISTS item_tags_pkey;
ALTER TABLE IF EXISTS ONLY public.folders DROP CONSTRAINT IF EXISTS folders_pkey;
ALTER TABLE IF EXISTS ONLY public.corrected_transcripts DROP CONSTRAINT IF EXISTS corrected_transcripts_pkey;
ALTER TABLE IF EXISTS ONLY public.audio_files DROP CONSTRAINT IF EXISTS audio_files_pkey;
ALTER TABLE IF EXISTS ONLY public.artifacts DROP CONSTRAINT IF EXISTS artifacts_pkey;
ALTER TABLE IF EXISTS ONLY public.alembic_version DROP CONSTRAINT IF EXISTS alembic_version_pkc;
DROP TABLE IF EXISTS public.transcripts;
DROP TABLE IF EXISTS public.tags;
DROP TABLE IF EXISTS public.qa_results;
DROP TABLE IF EXISTS public.jobs;
DROP TABLE IF EXISTS public.job_notes;
DROP TABLE IF EXISTS public.items;
DROP TABLE IF EXISTS public.item_tags;
DROP TABLE IF EXISTS public.folders;
DROP TABLE IF EXISTS public.corrected_transcripts;
DROP TABLE IF EXISTS public.audio_files;
DROP TABLE IF EXISTS public.artifacts;
DROP TABLE IF EXISTS public.alembic_version;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: artifacts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.artifacts (
    id character varying(36) NOT NULL,
    item_id character varying(36) NOT NULL,
    artifact_type character varying(50) NOT NULL,
    transcript_id character varying(36),
    corrected_transcript_id character varying(36),
    qa_result_id character varying(36),
    content text,
    artifact_metadata jsonb,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT check_artifact_type CHECK (((artifact_type)::text = ANY ((ARRAY['transcript'::character varying, 'proofread'::character varying, 'qa'::character varying, 'export'::character varying, 'summary'::character varying])::text[])))
);


--
-- Name: audio_files; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audio_files (
    id character varying(36) NOT NULL,
    job_id character varying(36) NOT NULL,
    file_path character varying(1024) NOT NULL,
    duration_seconds integer,
    format character varying(10),
    file_size_bytes bigint,
    title character varying(500),
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: corrected_transcripts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.corrected_transcripts (
    id character varying(36) NOT NULL,
    job_id character varying(36) NOT NULL,
    corrected_text text NOT NULL,
    original_text text NOT NULL,
    correction_model character varying(50),
    changes_summary text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: folders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.folders (
    id character varying(36) NOT NULL,
    name character varying(255) NOT NULL,
    parent_id character varying(36),
    path text NOT NULL,
    default_language character varying(10),
    default_model character varying(50),
    default_prompt text,
    default_qa_enabled boolean,
    default_output_format character varying(10),
    naming_template character varying(500),
    description text,
    color character varying(20),
    icon character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: item_tags; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.item_tags (
    item_id character varying(36) NOT NULL,
    tag_id character varying(36) NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.items (
    id character varying(36) NOT NULL,
    folder_id character varying(36) NOT NULL,
    job_id character varying(36),
    title character varying(500),
    youtube_url text NOT NULL,
    status character varying(20) NOT NULL,
    progress integer,
    error_message text,
    duration_seconds integer,
    file_size_bytes bigint,
    cost_usd numeric(10,4),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT check_item_status CHECK (((status)::text = ANY ((ARRAY['queued'::character varying, 'running'::character varying, 'completed'::character varying, 'failed'::character varying])::text[])))
);


--
-- Name: job_notes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_notes (
    id character varying(36) NOT NULL,
    job_id character varying(36) NOT NULL,
    content text DEFAULT ''::text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.jobs (
    id character varying(36) NOT NULL,
    youtube_url character varying(2048) NOT NULL,
    language character varying(10) NOT NULL,
    model character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    progress integer,
    error_message text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    stage character varying(30),
    stage_detail text,
    user_title character varying(500),
    tags text,
    CONSTRAINT check_job_status CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'processing'::character varying, 'transcribing'::character varying, 'correcting'::character varying, 'completed'::character varying, 'failed'::character varying])::text[]))),
    CONSTRAINT check_language CHECK (((language)::text = ANY ((ARRAY['ja'::character varying, 'en'::character varying])::text[])))
);


--
-- Name: qa_results; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.qa_results (
    id character varying(36) NOT NULL,
    job_id character varying(36) NOT NULL,
    question text NOT NULL,
    answer text NOT NULL,
    qa_model character varying(50),
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: tags; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tags (
    id character varying(36) NOT NULL,
    name character varying(100) NOT NULL,
    color character varying(20),
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: transcripts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.transcripts (
    id character varying(36) NOT NULL,
    job_id character varying(36) NOT NULL,
    text text NOT NULL,
    language_detected character varying(10),
    transcription_model character varying(50),
    created_at timestamp with time zone DEFAULT now(),
    segments_json text
);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.alembic_version (version_num) FROM stdin;
20260104_001_add_job_notes
\.


--
-- Data for Name: artifacts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: audio_files; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: corrected_transcripts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: folders; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: item_tags; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.item_tags (item_id, tag_id, created_at) FROM stdin;
9fd931f2-33b1-4c73-a439-346a933b24c4	8dc9ac4b-d80a-440c-b6ef-85c7a6bcb9d4	2026-02-28 09:03:36.554146+00
\.


--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: job_notes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: qa_results; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tags; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tags (id, name, color, created_at) FROM stdin;
8dc9ac4b-d80a-440c-b6ef-85c7a6bcb9d4	荳ｭ蝗ｽ縲∫ｿ定ｿ大ｹｳ	\N	2026-02-28 09:03:36.554146+00
\.


--
-- Data for Name: transcripts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: artifacts artifacts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artifacts
    ADD CONSTRAINT artifacts_pkey PRIMARY KEY (id);


--
-- Name: audio_files audio_files_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audio_files
    ADD CONSTRAINT audio_files_pkey PRIMARY KEY (id);


--
-- Name: corrected_transcripts corrected_transcripts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.corrected_transcripts
    ADD CONSTRAINT corrected_transcripts_pkey PRIMARY KEY (id);


--
-- Name: folders folders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.folders
    ADD CONSTRAINT folders_pkey PRIMARY KEY (id);


--
-- Name: item_tags item_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.item_tags
    ADD CONSTRAINT item_tags_pkey PRIMARY KEY (item_id, tag_id);


--
-- Name: items items_job_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_job_id_key UNIQUE (job_id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: job_notes job_notes_job_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_notes
    ADD CONSTRAINT job_notes_job_id_key UNIQUE (job_id);


--
-- Name: job_notes job_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_notes
    ADD CONSTRAINT job_notes_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: qa_results qa_results_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.qa_results
    ADD CONSTRAINT qa_results_pkey PRIMARY KEY (id);


--
-- Name: tags tags_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_name_key UNIQUE (name);


--
-- Name: tags tags_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_pkey PRIMARY KEY (id);


--
-- Name: transcripts transcripts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transcripts
    ADD CONSTRAINT transcripts_pkey PRIMARY KEY (id);


--
-- Name: ix_artifacts_item_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_artifacts_item_id ON public.artifacts USING btree (item_id);


--
-- Name: ix_artifacts_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_artifacts_type ON public.artifacts USING btree (artifact_type);


--
-- Name: ix_audio_files_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_audio_files_job_id ON public.audio_files USING btree (job_id);


--
-- Name: ix_corrected_transcripts_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_corrected_transcripts_job_id ON public.corrected_transcripts USING btree (job_id);


--
-- Name: ix_folders_parent_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_folders_parent_id ON public.folders USING btree (parent_id);


--
-- Name: ix_folders_path; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_folders_path ON public.folders USING btree (path);


--
-- Name: ix_item_tags_item_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_item_tags_item_id ON public.item_tags USING btree (item_id);


--
-- Name: ix_item_tags_tag_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_item_tags_tag_id ON public.item_tags USING btree (tag_id);


--
-- Name: ix_items_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_items_created_at ON public.items USING btree (created_at);


--
-- Name: ix_items_folder_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_items_folder_id ON public.items USING btree (folder_id);


--
-- Name: ix_items_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_items_job_id ON public.items USING btree (job_id);


--
-- Name: ix_items_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_items_status ON public.items USING btree (status);


--
-- Name: ix_items_updated_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_items_updated_at ON public.items USING btree (updated_at);


--
-- Name: ix_job_notes_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_job_notes_job_id ON public.job_notes USING btree (job_id);


--
-- Name: ix_jobs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_jobs_created_at ON public.jobs USING btree (created_at);


--
-- Name: ix_jobs_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_jobs_status ON public.jobs USING btree (status);


--
-- Name: ix_qa_results_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_qa_results_job_id ON public.qa_results USING btree (job_id);


--
-- Name: ix_tags_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_tags_name ON public.tags USING btree (name);


--
-- Name: ix_transcripts_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_transcripts_job_id ON public.transcripts USING btree (job_id);


--
-- Name: artifacts artifacts_corrected_transcript_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artifacts
    ADD CONSTRAINT artifacts_corrected_transcript_id_fkey FOREIGN KEY (corrected_transcript_id) REFERENCES public.corrected_transcripts(id) ON DELETE CASCADE;


--
-- Name: artifacts artifacts_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artifacts
    ADD CONSTRAINT artifacts_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(id) ON DELETE CASCADE;


--
-- Name: artifacts artifacts_qa_result_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artifacts
    ADD CONSTRAINT artifacts_qa_result_id_fkey FOREIGN KEY (qa_result_id) REFERENCES public.qa_results(id) ON DELETE CASCADE;


--
-- Name: artifacts artifacts_transcript_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.artifacts
    ADD CONSTRAINT artifacts_transcript_id_fkey FOREIGN KEY (transcript_id) REFERENCES public.transcripts(id) ON DELETE CASCADE;


--
-- Name: audio_files audio_files_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audio_files
    ADD CONSTRAINT audio_files_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: corrected_transcripts corrected_transcripts_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.corrected_transcripts
    ADD CONSTRAINT corrected_transcripts_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: folders folders_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.folders
    ADD CONSTRAINT folders_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.folders(id) ON DELETE CASCADE;


--
-- Name: item_tags item_tags_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.item_tags
    ADD CONSTRAINT item_tags_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(id) ON DELETE CASCADE;


--
-- Name: item_tags item_tags_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.item_tags
    ADD CONSTRAINT item_tags_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.tags(id) ON DELETE CASCADE;


--
-- Name: items items_folder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_folder_id_fkey FOREIGN KEY (folder_id) REFERENCES public.folders(id) ON DELETE RESTRICT;


--
-- Name: items items_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: job_notes job_notes_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_notes
    ADD CONSTRAINT job_notes_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: qa_results qa_results_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.qa_results
    ADD CONSTRAINT qa_results_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: transcripts transcripts_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transcripts
    ADD CONSTRAINT transcripts_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict rXxWx3qcbj5gue3CUPz0OEF1cBEwLAisq14YeMtHX4ol394fkYRtrjM3DmQrTec

